/* Keyframes for Fade In*/
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Keyframes for Slide In*/
@keyframes slide-in {
    from { height: 0; }
    to   { height: 1; }
}
/* Firefox < 16 */
@-moz-keyframes slide-in {
    from { height: 0; }
    to   { height: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slide-in {
    from { height: 0; }
    to   { height: 1; }
}
/* Internet Explorer */
@-ms-keyframes slide-in {
    from { height: 0; }
    to   { height: 1; }
}
/* Opera < 12.1 */
@-o-keyframes slide-in {
    from { height: 0; }
    to   { height: 1; }
}
